<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Parashop</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- <div class="body" id="body"> -->
        <div class="navBar" id="navBar">
            <div class="navBarContent">
                <div>
                    <div class="navItem" v-on:mouseover="showCatalog = False" v-on:click="changePage('home')">Parashop</div>
                    <div class="navItem" v-on:mouseover="showCatalog = !showCatalog">Каталог</div>
                    <div class="navItem" v-on:mouseover="showCatalog = False" v-on:click="changePage('aboutUs')">О нас</div>
                    <div class="navItem" v-on:click="changePage('contacts')">Контакты</div>
                    <div class="navItem" v-on:click="changePage('delivery')">Доставка и оплата</div>
                </div>
                <div v-if="loginState === 1" v-on:click="loginState = 0">
                    <div class="navItem">Личный кабинет</div>
                    <div class="navItem">Корзина</div>
                </div>
                <div v-else  v-on:click="loginState = 1">
                    <div class="navItem">Войти</div>
                </div>
            </div>
            <div class="catalog" v-if="showCatalog == 1" v-on:mouseleave="showCatalog = !showCatalog">
                <div class="catalogContent">
                    <div>
                        <div class="catalogCategory">Основные купола</div>
                        <div class="catalogItem">АО "Полёт"</div>
                        <div class="catalogItem" v-on:click="showCategory('mainCanopies', 'Atair Canopies',)">Atair Canopies</div>
                        <div class="catalogItem" v-on:click="showCategory('mainCanopies', 'NZ Aerosport',)">NZ Aerosports</div>
                        <div class="catalogItem" v-on:click="showCategory('mainCanopies', 'Aerodyne International',)">Aerodyne International</div>
                        <div class="catalogItem">Icarus Canopies</div>
                        <div class="catalogItem">Performance Designs</div>
                        <div class="catalogItem">ParAAvis</div>
                        <div class="catalogItem">Skylark</div>
                        <div class="catalogItem">Squirrel</div>
                    </div>
                    <div>
                        <div class="catalogCategory">Запасные купола</div>
                        <div class="catalogItem">АО "Полёт"</div>
                        <div class="catalogItem">SkyLark</div>
                        <div class="catalogItem">Aerodyne International</div>
                        <div class="catalogItem">Icarus Canopies</div>
                        <div class="catalogItem">Performance Designs</div>
                        <div class="catalogItem">ParAAvis</div>
                        <div class="catalogItem">Mars</div>
                    </div>
                    <div>
                        <div class="catalogCategory">Ранцы</div>
                        <div class="catalogItem">АО "Полёт"</div>
                        <div class="catalogItem">Aerodyne International</div>
                        <div class="catalogItem">Sun Path</div>
                        <div class="catalogItem">UPT</div>
                        <div class="catalogItem">Mirage Systems</div>
                        <div class="catalogItem">Sunrise Rigging</div>
                        <div class="catalogItem">ParAAvis</div>
                        <div class="catalogItem">SWS</div>
                        <div class="catalogItem">Mars</div>
                    </div>
                    <div>
                        <div class="catalogCategory">Страхующие приборы</div>
                        <div class="catalogItem">Cypres</div>
                        <div class="catalogItem">Vigil</div>
                        <div class="catalogItem">MarS</div>
                    </div>
                    <div>
                        <div class="catalogCategory">Высотомеры</div>
                        <div class="catalogItem" style="font-weight: 700;">Аналоговые высотомеры &#62;</div>
                        <div class="catalogItem" style="font-weight: 700;">Электронные высотомеры &#62;</div>
                        <div class="catalogItem" style="font-weight: 700;">Звуковые высотомеры &#62;</div>
                        <div class="catalogItem">Alti-2</div>
                        <div class="catalogItem">Barigo</div>
                        <div class="catalogItem">Larsen & Brusgaard</div>
                        <div class="catalogItem">Robnik Altimeters</div>
                    </div>
                    <div>
                        <div class="catalogCategory">Шлемы</div>
                        <div class="catalogItem" style="font-weight: 700;">Открытые шлемы &#62;</div>
                        <div class="catalogItem" style="font-weight: 700;">Закрытые шлемы &#62;</div>
                        <div class="catalogItem" style="font-weight: 700;">Шлемы видеооператоров &#62;</div>
                        <div class="catalogItem">Cookie</div>
                        <div class="catalogItem">BoneHead Composites</div>
                        <div class="catalogItem">Square One</div>
                        <div class="catalogItem">Parasport Italia</div>
                    </div>
                    <div>
                        <div class="catalogCategory">BASE снаряжение</div>
                        <div class="catalogItem" style="font-weight: 700;">Ранцы для B.A.S.E &#62;</div>
                        <div class="catalogItem" style="font-weight: 700;">Купола для B.A.S.E &#62;</div>
                        <div class="catalogItem" style="font-weight: 700;">Аксесуары &#62;</div>
                        <div class="catalogItem">AcrobatBASE</div>
                        <div class="catalogItem">Adrenalin Base</div>
                        <div class="catalogItem">Atair Canopies</div>
                        <div class="catalogItem">Performance Designs</div>
                        <div class="catalogItem">Squirrel</div>
                    </div>
                    <div>
                        <div class="catalogCategory">Вингсьюты</div>
                        <div class="catalogItem">Intrudair</div>
                        <div class="catalogItem">Squirrel</div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="main" id="main">
            <div class="homePage" v-if="page === 'home'">
                <div class="mainAbout">
                    <img src="./img/shopPhoto.jpg" alt="" class="mainImg">
                    <p>Наш магазин парашютного снаряжения находится прямо в центре Москвы! К нам можно зайти, 
                    померить шлем, снять мерки для пошива ранца или комбинезона, повертеть в руках высотомеры, пищалки, перчатки, стропорезы и многое 
                    другое. В наличии толстовки, футболки - те вещи, которые обязательно нужно мерить! Через дорогу от здания федерации парашютного 
                    спорта России, в пешей доступности от ст. метро Курская. Есть бесплатная парковка. Улица Радио, дом 7, стр. 1.<br>
                    Сотрудникам подразделений специального назначения скидки. Работаем как с физическими, так и с юридическими лицами, со всеми 
                        документами - накладная, счет, акт выполненных работ.</p>
                </div>
                <div>
                    <h2>Самое нужное</h2>
                    <div class="mainPopular">
                        <div class="popularItem">
                            <img src="./img/cookieg4.png" alt="">
                            <h2>Cookie G4</h2>
                            <h3>39 000</h3>
                        </div>
                        <div class="popularItem">                            
                            <img src="./img/cookieg4.png" alt="">
                            <h2>Cookie G4</h2>
                            <h3>39 000</h3></div>
                        <div class="popularItem">                            
                            <img src="./img/cookieg4.png" alt="">
                            <h2>Cookie G4</h2>
                            <h3>39 000</h3></div>
                        <div class="popularItem">                            
                            <img src="./img/cookieg4.png" alt="">
                            <h2>Cookie G4</h2>
                            <h3>39 000</h3></div>
                        <div class="popularItem">                            
                            <img src="./img/cookieg4.png" alt="">
                            <h2>Cookie G4</h3>
                            <h3>39 000</h3></div>
                    </div>
                </div>                
            </div>
            <div class="mainPage" v-if="page == 'aboutUs'">
                <h2>О НАС</h2>
                <p><strong>Мы не безликий магазин. Мы лучше!</strong></p>
                <p>Мы постоянно присутствуем в парашютной и трубной "тусовке". Нас лично знают многие 
                    российские парашютисты, и начинающие, и опытные. Мы не прячемся за витринами, не прикрываемся 
                    жалобной книгой, мы всегда находимся среди вас. Почти каждый день либо в одной из труб, 
                    либо на аэродроме. И мы не только не хотим, но и не можем никого обманывать и "впаривать" 
                    что попало. Иначе в момент мы потеряем самое главное - доверие. Поэтому мы предлагаем вам 
                    только качественное, удобное и проверенное снаряжение. Думаете, что найдёте дешевле? Возможно. 
                    Мы ведь себя тоже ценим. :) Но если вы считаете нас слишком жадными и знаете более щедрых барыг, 
                    сообщите нам об этом, мы с вами наверняка сумеем договориться. :)</p>
                <p><strong>С чего вдруг вы должны остановить свой поиск на нас?</strong></p>
                <ul>
                    <li>Мы в Москве, а не в Улан-Удэ и даже не на подмосковном аэродроме.</li>
                    <li>Товар в наличии. Нам скоро жить будет негде - вся квартира им завалена!</li>
                    <li>Отправляем товар по России и СНГ. Быстро и, как правило, за свой счёт.</li>
                    <li>Даём гарантию на товар. Иногда даже на расходники.</li>
                    <li>У нас хорошие цены. Не нравятся - напишите нам об этом. Мы не кусаемся, зато любим пообщаться. :)</li>
                    <li>Мы сами постоянно используем товар, который продаём, и многое о нём знаем.</li>
                    <li>У нас только качественный товар, признанный во всём мире. Никаких поделок/реплик/аналогов, на которые мы боимся давать гарантию. Не, на самом деле есть реплики, но мы это не скрываем и честно говорим об их преимуществах и недостатках.</li>
                </ul>
                <p><strong>Хотите узнать, что подарить парашютисту?</strong></p>
                <p>Мы вам расскажем, о чём он мечтает. И не стоит переживать за, возможно, не подошедший размер. Мы всё 
                    понимаем, и непременно заменим подаренную вещь на подходящую в случае необходимости.</p>
            </div>
            <div class="mainPage" v-if="page == 'contacts'">
                <h2>КОНТАКТЫ</h2>
                <p>Наш уютный офис, где всё можно посмотреть/померить/купить или 
                    заказать находится рядом с трубой Flow Moscow, в соседнем здании. От метро Люблино 10-15 минут пешком.</p>
                <p><strong>Телефон</strong></p>
                <p>88005553535</p>
                <p>Не дозвонились? Напишите в whatsapp, viber или telegram. Мы, к сожалению, не всегда на связи, особенно 
                    когда находимся в трубе или во взлёте.</p>
                <p>Мы будем рады вашим звонкам и сообщениям с 10:00 до 01:00 по Москве. Если у вас появился срочный вопрос 
                    среди ночи, мы будем благодарны вам за сообщение на whatsapp или SMS и за возможность поспать до начала 
                    рабочего дня. Заказы через сайт принимаются круглосуточно и обрабатываются после подъёма согласно распорядку дня.</p>
            </div>
            <div class="mainPage" v-if="page == 'delivery'">
                <h2>ОПЛАТА</h2>
                <p>Каждый современный способ оплаты тоже стоит денег. Платите картой? Значит, в стоимость товара 
                    включено до 3% комиссии. Вам просто её не показывают, а называют финальную цену.</p>
                <p>Мы принимаем только наличные или перевод на карту (сбербанк, тинькофф, альфа-банк, мкб, втб, итд). При чём и в иностранной валюте.</p>
                <p><strong>Это позволяет нам держать минимально возможные цены без скрытых переплат.</strong></p>
                <p>Можете заплатить только кредитной картой? Или нужна оплата по безналу? В любом случае свяжитесь 
                    с нами удобным способом. Обычно мы находим решения таких вопросов в индивидуальном порядке.</p>

                
                <h2>ДОСТАВКА</h2>
                <p>Доставка по правилам - это, конечно, надёжно... Но надо выбирать день, интервал времени и 
                    ждать курьера не дёргаясь с места и не выключая телефон.</p>
                <p><strong>Мы предлагаем максимально быструю доставку</strong></p>
                <p>Коронавирус вывел службы доставки и такси на новый уровень. Теперь мы отправляем заказы по 
                    Москве курьерами яндекса и им подобными, что порой позволяет получить заказ в течение часа. 
                    Стоимость доставки обсуждается индивидуально после получения адреса и обычно составляет в пределах 300-500 рублей.</p>
                <p><strong>Доставка по России</strong></p>
                <p>Нами проверена курьерская служба СДЭК. Очень мы их любим за адекватные цены и сроки. 
                    Бывают и за ними косяки, но без них ни одна курьерская служба не работает. А почта России 
                    так и вообще никогда нормально не доставляет. Так что это лучший, по нашему мнению, вариант.</p>
                <p>Примерные сроки доставки:</p>
                <div>
                    <ul>
                        <li>в Санкт-Петербург: 1-2 дня</li>
                        <li>в пределах 500км от Москвы: 1-2 дня</li>
                        <li>в пределах 1000км от Москвы 2-3 дня</li>
                        <li>Урал/Сибирь - 3-5 дней</li>
                        <li>Дальний Восток - 1-2 недели</li>
                    </ul>
                </div>

            </div>
            <div class="mainPage" v-if="page == 'catalog'">
                <div>
                    <h2>***Категория***</h2>
                    <div class="catalogPageContainer">
                        <div class="catalogPageCard">
                            <img src="./img/cookieg4.png" alt="">
                            <h2>Cookie G4</h2>
                            <h3>39 000</h3>
                            <div class="addToCartButton">В корзину</div>
                        </div>


                    </div>
                </div>                
            </div>
        </div>





        <div class="footer">
            <div class="footerContent">
                <div class="footerLinks">
                    <div class="">Условия обмена и возврата</div>
                    <div class="">Контакты</div>
                    <div class="">Доставка и оплата</div>
                </div>
                <hr>
                <div class="footerContacts">
                    <div class="footerMail">
                        <span>mail@mail.ru</span>
                        <span>88005553535</span>
                    </div>
                    <span>Parashop 2022</span>
                    <div class="socialMedia">
                        <div class="social"></div>
                        <div class="social"></div>
                        <div class="social"></div>
                        <div class="social"></div>
                        <div class="social"></div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./main.js"></script>
</body>
</html>